*.iml
.gradle
/local.properties
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
!/.idea/externalDependencies.xml
!/.idea/liveTemplates
*.hprof
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
